.external-application-view {
	background-color: rgba( 0, 0, 0, 0.4 );
	
	.container {
		background-color: #FFFFFF;
	
		.close-button {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../images/close_icon.png);
		}
	
		.title-label {
			color: #333333;
			font-size: 0.2rem;
			font-weight: 600;
			line-height: 30px;
		}
	}
}
