.notification-window-view {
	background-color: rgba( 0, 0, 0, 0.4 );
	
	&--button {
		font-size: 0.14rem;
		font-weight: 500;
		line-height: 42px;
		text-align: center;
		color: #FFFFFF;
	
		cursor: pointer;
	
		background-color: rgba( 0, 153, 204, $alpha3 );
		
		@include border-radius(5px, 5px, 5px, 5px);
		
		&:hover {
			background-color: rgba( 0, 153, 204, $alpha2 );
		}

		&:active {
			background-color: rgba( 0, 153, 204, $alpha1 );
		}
	}
	
	&--title-label {
		font-size: 0.2rem;
		font-weight: 700;
		color: #FFFFFF;
	}
	
	&--content-label {
		font-size: 0.14rem;
		font-weight: 500;
		color: #393939;
		overflow: auto;
	}
}
